<h1>Flickr API</h1>
<%= form_with url: false, method: :get do |form| %>
  <%= form.label :user_id, 'Flickr ID:' %>
  <%= form.text_field :user_id %>

  <%= form.submit 'Search' %>
<% end %>

<% if @user_photos.nil? %>
  <p>Please enter a search query!</p>
<% elsif @user_photos.none? %>
  <p>No photos were found!</p>
<% else %>
  <div class="search-results">
    <% @user_photos.each do |photo| %>
      <img src="https://live.staticflickr.com/<%= "#{photo.server}/#{photo.id}_#{photo.secret}_m.jpg" %>">
    <% end %>
  </div>
<% end %>
